.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  background:#FAFAFA;
  border-bottom: 1px solid #3333;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.text-logo-box {
  border: 1px solid gray;
  width: 50%;
}

.text-logo-image {
  border: 1px solid gray;
  width: 40%;
} 

.logo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo i {
  font-size: 1.5rem;
}

.logo p {
  margin-left: 12px;
}

.logo-box {
  border-right: 1px solid gray;
  width: 40px;
}

.search-box {
  border: 1px solid rgba(196, 196, 196, 0.8);
}
.search-box i{
  margin: 5px;
}

.search-input {
  border: none;
  outline: none;
  background-color: #FAFAFA;
}

.search-bar-icons {
  margin: 10px;
}

.search-bar-icons > i {
  margin: 10px;
  color: gray;
}